.side-menu-container {
  position: fixed;
  z-index: 99999;
  transition: 0.25s ease-out;
  height: 100vh;
  background-color: var(--off-white);
  width: 70%;
  left: -70%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.close {
  transform: translateX(0px);
}

.open {
  transform: translateX(100%);
}

nav {
  width: 100%;
  line-height: 50px;
  margin-top: 50%;
  ul {
    li {
      list-style-type: none;
      p.navlink {
        text-decoration: none;
        color: var(--black);
        margin: 0;
        padding: 0 30px;

        &:hover,
        &.active {
          color: var(--secondary);
        }
        span {
          font-size: 1.3em;
          transition: 0.5s ease-out;
          cursor: pointer;
          &:hover {
            animation: flip 5s linear;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
