<div class="header-container disable-select">
  <nav>
    <ul>
      <li>
        <p class="navlink" [ngClass]="{'active': active == '/#home' || active == '/'}">
          <span [routerLink]="'.'" fragment="home">Home</span>
        </p>
      </li>
      <li>
        <p class="navlink" [ngClass]="{'active': active == '/#portfolio'}"><span [routerLink]="'.'"
            fragment="portfolio">Portfolio</span>
        </p>
      </li>
      <li>
        <p class="navlink" [ngClass]="{'active': active == '/#work'}"><span [routerLink]="'.'"
            fragment="work">Work</span>
        </p>
      </li>
      <li>
        <p class="navlink" [ngClass]="{'active': active == '/#contact'}"><span [routerLink]="'.'"
            fragment="contact">Contact</span></p>
      </li>
    </ul>
  </nav>
</div>
