<div class="home-container" id="home">
  <div class="menu-icon mobile" (click)="menuClicked()">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="overlay"></div>
  <div class="content-section">
    <h1 class="welcome">Cheers,</h1>
    <p class="my-name">I'm Deepak</p>
    <sub><span class="brackets">[&nbsp;</span>
      <!-- HYBRID APPLICATION DEVELOPER <span class="and">&</span> ARTIST  -->
      <div class='console-container'><span id='text'></span>
        <div class='console-underscore' id='console'>&#95;</div>
      </div>

      <span class="brackets">&nbsp;]</span>
    </sub>

  </div>
</div>
