.contact-container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  .scroll-point {
    margin-top: 65px;
    .color-one {
      position: absolute;
      width: 200%;
      height: 200%;
      transform: rotate(67deg);
      background-color: var(--primary);
      box-shadow: 0 2px 3px #ccc;
      border: 1px solid #ddd;
    }
  }
}
