:root {
  --font-family-lobster: "Lobster", cursive;
  --font-family-roboto: "Roboto Condensed", sans-serif;
  --primary: #088;
  --secondary: #eba63f;
  --teal: #162b32;
  --success: #259b9a;
  --danger: #e40c2b;
  --warning: #facd3d;

  --black: #12151f;
  --off-white: #f7f7f7;
  --white: #fff;

  --purple: #955fad;
  --orange: #da5b45;
  --paper: #f6efe9;
}
