.home-container {
  background: #fff url("../../assets//images/home/home-bg-desktop.jpg")
    no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  min-height: 720px;
  display: table;
  position: relative;
  text-align: center;
  color: #fff;
  .content-section {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: end;
    .welcome {
      margin: 0;
      text-align: left;
      color: var(--secondary);
      font-family: var(--font-family-lobster);
      text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
    }
    .my-name {
      font-size: 8em;
      margin: 5px;
      color: var(--off-white);
      line-height: 1.1em;
      text-align: left;
      font-weight: 800;
      text-shadow: 0px 11px 10px rgba(0, 0, 0, 1);
    }
    sub {
      font-size: 1.5em;
      color: var(--primary);
      text-align: right;
      span.and {
        font-size: 0.7em;
        color: var(--secondary);
        font-weight: bold;
      }
      span.brackets {
        color: var(--secondary);
        font-size: 1.2em;
        animation: blink 1.2s infinite ease-out;
        font-weight: bold;
      }
    }
  }
}
.home-container-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
